/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  /* Dark background */
}

.chess-container {
  text-align: center;
  color: white;
  /* Text color to contrast with dark background */
}